<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card grey lighten-4">

      {{#each errors }}
        <div class="card-panel red lighten-4">{{this}}</div>
      {{/each}}

      <form {{action 'submit' on='submit'}}>
        <div class="card-content">
          <span class="card-title black-text">Sign-Up</span>

            {{input placeholder="Email Address" value=email}}
            {{input type="password" placeholder="Password" value=password}}
            {{input type="password" placeholder="Password Confirmation"
value=password_confirmation}}

        </div>
        <div class="card-action">
          {{input type="submit" value="Next" class="btn waves-effect waves-light red lighten-2"}}
        </div>
      </form>
    </div>
  </div>
</div>
