<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">

      {{link-to 'CarMileager' 'index' class="brand-logo" }}

      {{#if session.isAuthenticated}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a {{ action 'invalidateSession' }}>Logout</a></li>
      </ul>
      {{else}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>{{#link-to 'auth.sign-up'}}Sign-Up{{/link-to}}</li>
        <li>{{#link-to 'auth.login'}}Login{{/link-to}}</li>
      </ul>
      {{/if}}

    </div>
  </nav>
</div>
{{#if session.isAuthenticated}}
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3">{{#link-to 'mileages.yearly'}}Yearly{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'mileages.monthly'}}Monthly{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'mileages'}}Records{{/link-to}}</li>
      <li class="tab col s3">{{#link-to 'mileages.create'}}Create <i class="tiny mdi-content-add-circle-outline"></i>{{/link-to}}</li>
    </ul>
  </div>
</div>
{{/if}}

  {{ember-notify closeAfter=40000000}}
  {{outlet}}


<footer class="page-footer red lighten-2">
  <div class="container">
    <div class="row">

      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="white-text">Car Mileager is an free Open Source web application based on Ruby on Rails and Ember.js.</p>
      </div>

    </div>
  </div>
  <div class="footer-copyright">
    <div class="container white-text">
      Made by <a href="http://www.allisterantosik.com"><strong class="white-text">Allister Antosik</strong></a> |
      Open Source on  <a href="https://github.com/allistera/"><strong class="white-text">GitHub</strong></a>
    </div>
  </div>
</footer>
